body {
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  
  #Colorbtn {
    padding:0.25rem 0.5rem;
    border: 3px solid  #fefefe;
    border-radius:7px;
     color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size:1.5rem;
    text-transform:uppercase;
    cursor:pointer;
    outline:none;
    
  }
  
  #Colorbtn:hover {
    background:rgba(0,0,0);
  }
  
  